.Form-root {
  width: 450px;
}

.Form-city {
  margin-bottom: 16px;
}

.Form-datetime {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.Form-datetime > div {
  flex-grow: 1;
}

.Form-datetime > div:first-child {
  margin-right: 16px;
}

.Form-input {
  display: flex;
  flex-direction: row;
}

.Form-root input[type=text] {
  margin-bottom: 16px;
  background-color: #e8e8e8;
  padding: 16px;
  border-radius: 3px;
  line-height: 20px;
  transition:
    background-color .5s ease,
    box-shadow .3s ease,
    border-color .3s ease;
  flex-grow: 1;
  font-size: 17px;
  border: 1px solid transparent;
}

.Form-root input[type=text]::placeholder {
  color: #797979;
  font-size: 17px;
}

.Form-root input[type=text].invalid {
  color: #df2d37;
  background-color: #fae5e8;
}

.Form-root input[type=text].invalid::placeholder {
  color: #df2d37;
}

.Form-root input[type=text]:focus {
  color: #000;
  outline: none;
  background-color: #ffffff;
  border-color: #c5c5c5;
  box-sizing: content-box;
  box-shadow: -2px 5px 8px 0 rgba(0,0,0,.2);
}

.Form-button {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.Form-button button {
  color: #ffffff;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 52px;
  background: #db001b;
  box-shadow: 0 3px 12px 0 rgba(110, 0, 22, 0.5);
}

.Form-button button:disabled {
  background: #c1c1c1;
  box-shadow: none;
}

.Form-agreement {
  font-size: 12px;
  color: #9c9c9c;
}

.Form-error {
  color: #df2d37;
  font-size: 12px;
  margin: 0 0 16px;
}
